html{
    background-color: black;
}
    
body{
    margin: auto;
    width: 980px;
    font-family: 'Courier New', Courier, monospace;
}

.header{
    display: flex;
    background-color: #1F2937;
    color: white;
    padding-right: 140px;
    padding-left: 140px;
    padding-top: 10px;
}

.header-logo{
    flex: 1;
}

.header-links{
    flex: 1;
    display: flex;
}

.header-links div{
    flex: 1;
}

.hero{
    display: flex;
    background-color: #1F2937;
    color: white;
    padding-right: 140px;
    padding-left: 140px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-text{
    flex: 1;
    display: flex;
    flex-flow: column;
}

.hero-title{
    flex: 1;
    font-size: 48px;
    font-weight: 800;
}

.hero-subtext{
    flex: 1;
    font-size: 14px;
}

.hero-text button{
    flex: 1;
    margin-top: 10px;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #3882F6;
    color: white;
    border-radius: 6px;
    border-style: none;
    font-family:'Courier New', Courier, monospace;
}

.hero-image{
    flex: 1;
}

.information{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #1F2937;
    padding-right: 140px;
    padding-left: 140px;
    padding-top: 40px;
    padding-bottom: 100px;
}

.information-text{
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    flex: 1;
    margin-bottom: 40px;
}

.information-sections{
    flex: 1;
    display: flex;
}

.information-sections div{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.information-sections img{
    flex: 1;
    border: 2px solid #3882F6;
    border-radius: 10px;
    width: 100px;
    min-height: 100px;
    margin: auto;
}

.information-sections p{
    flex: 1;
    text-align: center;
    font-size: 10px;
    padding-left: 15px;
    padding-right: 15px;
}